spring:
  application:
    name: rideshare
  jpa:
    database: h2
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:h2:mem:~/test;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    username: sa
    driver-class-name: org.h2.Driver
    password:
    platform: org.hibernate.dialect.H2Dialect
    initialization-mode: embedded

management:
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
    mappings:
      enabled: true
---
spring:
  profiles: dev
  datasource:
    url: jdbc:postgresql://${db_url}:5432/postgres
    username: ${user_name}
    password: ${pass_word}
    initialization-mode: never
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
